<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
      background-color: lightblue;
    }
    h1{
      margin: 0;
      font-size: 50px;
      line-height: 75px;
      font-weight: 100;
      text-align: center;
    }
    h2{
      margin: 0;
      font-size: 25px;
      line-height: 50px;
      font-weight: 100;
      text-align: center;
    }
    p{
      text-align: center;
    }
  </style>


<body>
  <h1>Welcome to International House!</h1>

  <h2>Please choose your role :</h2>

  <p><a href="applicants">New Applicants</a></p>
  <p><a href="resident_login_page">Existing Residents</a></p>
  <p><a href="employee_login_page">Employees</a></p>
</body>

</html>
